.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  float: left;
  left: 0px;
  top: 0px;
  animation: App-logo-spin infinite 1.5s cubic-bezier(0.5, 0.15, 0.5, 0.75);
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 8vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
